.certificate {
    margin-top: 20px;
}

.certificate a {
    display: inline-block;
    padding: 10px 16px;
    background-color: #1a73e8;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
}

.certificate a:hover {
    background-color: #0f5ad1;
}

.cv-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #1f3c88;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.3s ease;
}

.cv-button:hover {
  background-color: #16306b;
}
